<!DOCTYPE html>
<html>

<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin | Jroute</title>
    <link rel="icon" href="../../admin/assets/img/trucklogo.png" type="image">

    <link rel="stylesheet" href="../../admin/assets/paginate/bs-pagination.min.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="../../admin/assets/paginate/pagination.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.10.0/cloudinary-core-shrinkwrap.min.js"></script>

    <!--<link rel="stylesheet" href="dist/pagination.min.css">-->
    <link href="../../admin//assets/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="../../admin/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../../admin/assets/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="../../admin/assets/css/animate.css" rel="stylesheet">
    <link href="../../admin/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../admin/assets/paginate/pagination.min.css">

    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="../../admin/scripts/common/pipeline.js"></script>
    <script src="../../admin/scripts/common/validation.js"></script>
    <script src="../../admin/scripts/helper/logout.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <!-- moment -->
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="../../admin/scripts/auth/logout.js"></script>
    <!-- <script src="../../admin/scripts/listing/restaurant.js"></script> -->

    <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-messaging.js"></script>
    <script src="../../admin/scripts/add/edit_addonsCat.js"></script>
    <style type="text/css">
        .container {
            margin: 100px auto;
        }


        .edit_cat_file {
            position: absolute;
            top: 0px;
            height: 200px;
            width: 205px;
            left: 13px;
            opacity: 0;
            z-index: -1;
            cursor: pointer;
        }

        .edit_cancel {
            border-color: #1AB394;
            color: #1AB394;
            padding: 5px 25px;
            border-radius: 8px;
        }

        .innerSec {
            border: 1px solid #1AB394;
            padding: 10px;
        }

        @media only screen and (max-width: 992px) {
            .lastline {
                margin: 0px !important;
                width: 100% !important;
                display: inline-block !important;
            }
        }
    </style>

</head>

<body onload="classActive();addons_catDetails();">
    <div id="wrapper" style="display: none;">
        <navbar></navbar>
        <div id="page-wrapper" class="gray-bg">
            <div class="border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 menuBtn" href=""><i class="fa fa-bars"></i>
                        </a>
                        <form role="search" class="navbar-form-custom" action="search_results.html">
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">Welcome to Meki Admin </span>
                        </li>
                        <li><a class="dropdown-item" onclick="logout()">Logout <img
                                    src="../../../admin/assets/img/logout .png"></a></li>
                    </ul>
                </nav>
            </div>
            <div class="wrapper border-bottom white-bg page-heading">
                <div class="pageheading">
                    <div class=" mr-4 mt-3">
                        <h2><strong>Edit Addons Category</strong></h2>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="restaurant" id="restaurantName">
                                    <!-- <div class="col-lg-6">Restaurant -->
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#" id="itemName"></a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Addones Categories</a>
                            </li>
                            <li class="breadcrumb-item active">
                                <strong>Edit Addons Category</strong>
                            </li>
                        </ol>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-right">
                        <button style="height: 40px;width: 180px;margin-top: -68px;" type=" button"
                            class="btn btn-sm btn-success" onclick="back();"><strong>Back to Item Addons</strong> <img
                                style="width: 20px;" src="../../admin/assets/img/arrowwhiteicon.svg"></button>
                    </div>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight" style="width: 855px;margin-left: 315px;">
                <div class="ibox-title d-flex align-items-center justify-content-between"
                    style="background-color: #1AB394;">
                    <h3 style="color: aliceblue;padding-left: 319px;"><strong>Edit Addons Category</strong></h3>
                </div>
                <form style="border: 2px solid #1AB394; padding: 20px;" id="form_editAddonsCat" enctype="multipart/form-data"
                    class="maxwidth" role="form">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <h4>Addons Category (English)<span style="color: red;">*</span></h4>
                                <input type="text" oninput="validate(this)" class="form-control" id="name" name="name"
                                    placeholder=" Enter category name in (English)" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <h4>Addons Category (Mesodonian)<span style="color: red;">*</span></h4>
                                <input type="text" oninput="validate(this)" class="form-control" id="meso_name"
                                    name="meso_name" placeholder=" Enter category Name in (Mesodonian)" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <h4>Max Selection Quantity<span style="color: red;">*</span>:<span>(0 for optional, 1 for single selection)</span></h4>
                                <input type="number" oninput="validate(this)" class="form-control" id="quantity"
                                    name="quantity" placeholder=" Enter Selection Quantity" min="1" required>
                                <input type="text" oninput="validate(this)" class="form-control" id="addonsCatId"
                                    name="addonsCatId"  style="display: none;">
                                <input type="text" oninput="validate(this)" class="form-control" id="vendorId"
                                    name="vendorId"  style="display: none;">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <h4>Postion<span style="color: red;">*</span></h4>
                                <input type="number" oninput="validate(this)" class="form-control" id="position"
                                    name="position" placeholder=" Enter position" min="1" required>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-right">
                            <button id="addButton" type=" button" class="btn btn-primary btn-lg">Edit
                                Addons Category</button>
                        </div>
                    </div>
                </form>
            </div>
            <footer></footer>
        </div>
    </div>
    </div>

    <!-- Mainly scripts -->
    <script src="../../admin/assets/js/jquery-3.1.1.min.js"></script>
    <script src="../../admin/assets/js/popper.min.js"></script>
    <script src="../../admin/assets/js/bootstrap.js"></script>
    <script src="../../admin/assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="../../admin/assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Peity -->
    <script src="../../admin/assets/js/plugins/peity/jquery.peity.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="../../admin/assets/js/inspinia.js"></script>
    <script src="../../admin/assets/js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="../../admin/assets/js/plugins/iCheck/icheck.min.js"></script>

    <!-- Peity -->
    <script src="../../admin/assets/js/demo/peity-demo.js"></script>
    <script type="text/javascript" src="../../admin/assets/paginate/pagination.min.js"></script>
    <script src="assets/js/plugins/sweetalert/sweetalert.min.js"></script>

    <script>
        var token = localStorage.getItem("token");
        var host = window.location.protocol + "//" + window.location.host;
        if (!token) {
            localStorage.removeItem("name");
            localStorage.removeItem("token");
            window.location.replace('/admin/login');
        }
        document.getElementById("restaurantName").textContent = "Restaurant: "+localStorage.getItem("restaurantName");
        document.getElementById("itemName").textContent = "Menu Item: "+localStorage.getItem("itemName");

    </script>
</body>

</html>